body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.page-link {
  background-color: transparent !important;
  border: 1px solid #0f6c7b !important;
  /* color: black !important; */
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}
.active {
  background-color: #0f6c7b !important;
  color: white !important;
}
